@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-color: #202123;
}
.icon {
  width: 120px;
  cursor: pointer;
}
.icon::hove {
  cursor: pointer;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: whitesmoke;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
button {
  padding: 10px;
  width: 250px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
}
.result {
  font-weight: bold;
  margin-top: 40px;
}

button:disabled {
  pointer-events: all;
  background: rgba(208, 197, 207, 0.441);
  cursor: not-allowed;
}

#queryresponse {
  font-weight: bold;
  margin-top: 40px;
}

#querytext {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  color: rgba(232, 14, 14, 0.498);
  margin: 16px 0 40px;
}

#response{
  background: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#formats{
  margin: 10px;
  color: whitesmoke;
}

.popup{
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none; 
  text-align: center;
}
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup h2{
margin-top: -20px;
}
.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #0f72e5;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
}